@using System.Web.Http
@using System.Web.Http.Controllers
@using System.Web.Http.Description
@using System.Collections.ObjectModel
@using Team2_WebAPI.Areas.HelpPage.Models
@model Collection<ApiDescription>

@{
    ViewBag.Title = "GooDee Academy TEAM2 API";

    // Group APIs by controller
    ILookup<HttpControllerDescriptor, ApiDescription> apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet" />
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>API Introduction</h2>
            <strong>Goodee Academy TEAM2 Kim JongHeon, Choe Myeonggeun, Seo Seondo, Heo Jinseong</strong>
            <p>
                A list and description of the APIs used in the project.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach (var group in apiGroups)
        {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
    <div class="row">
        <div class="col-md-14">
            @*로고 이미지 부분*@
            <img src="~/Areas/img/logo.png" style=" max-width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            display: block;" />
        </div>
        @*/.row*@
        @*/.col*@
    </div>
</div>
