@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section class="content-header" style="text-align:left">
        <h1>
            구디 B2KE
            <small>EIS(Executive Information System)</small>
        </h1>
    </section>
<br />
<img src="~/dist/img/logo.png" style="        max-width: 1500px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        display: block;" />
<div style="text-align:center">
    <p></p>
    
</div>
