
@{
    ViewBag.Title = "회원가입 페이지";
}

<h2> 회원가입 페이지 </h2>

<!-- 모델이 널이 아닌 경우 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>회원가입 페이지</title>
</head>
<body>
    @using (Html.BeginForm("Completed", "Login", FormMethod.Post))
    {


        <table>
            <tr>
                <td>이름</td>
                <td><input type="text" name="Customer_Name" /></td>
            </tr>
            <tr>
                <td>아이디</td>
                <td><input type="text" name="Customer_UserID" /></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" name="Customer_PWD" /></td>
            </tr>
            <tr>
                <td>주소</td>
                <td><input type="text" name="Customer_Address1" /></td>
            </tr>
            <tr>
                <td>상세주소</td>
                <td><input type="text" name="Customer_Address2" /></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" name="Customer_Email" /> </td>
            </tr>

            <tr>
                <td>핸드폰 번호</td>
                <td>
                    <input type="text" name="Customer_Phone1" maxlength="3" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"> -
                    <input type="text" name="Customer_Phone2" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"> -
                    <input type="text" name="Customer_Phone3" maxlength="4" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                </td>
            </tr>
            <tr>

                <td>생년월일</td>
                <td>
                    <select name="Customer_Birth_Y">
                        @for (int year = 1900; year < DateTime.Now.Year; year++)
                        {
                            <option value=@year selected>@year</option>
                        }
                    </select>
                    년
                    <select name="Customer_Birth_M">
                        @for (int month = 1; month <= 12; month++)
                        {
                            <option value=@month selected>@month</option>
                        }

                    </select>
                    월
                    <select name="Customer_Birth_D">
                        @for (int day = 1; day <= 31; day++)
                        {
                            <option value=@day selected>@day</option>
                        }
                    </select>
                    일
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td>
                    <input type="submit" name="submit" value="완료" />
                    <input type="reset" name="reset" value="리셋" />
                </td>
            </tr>
        </table>
    }

    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

</body>
</html>

@section scripts {
    <script type="text/javascript">
        function inNumber() {
            if (event.keyCode < 48 || event.keyCode > 57) {
                event.returnValue = false;
            }
        }
    </script>
}